version: '3.8'

services:
  flowise:
    image: flowiseai/flowise
    container_name: flowise_production
    restart: always
    environment:
        - PORT=3000
    ports:
      - "3000:3000"
    volumes:
      - ~/.flowise:/root/.flowise
    